{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %} {% for message in messages %}
<div> <span class="color-gray">[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{ message.text }}</i> </div>
{% endfor %}

<form action="/chat/" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" name="textmessage" />
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Send </button>
</form>

{% else %}
<h1>Not logged in</h1>
<p>
  You are currently not logged in. Please log in. <br />
  Please click <a href="/login/">here</a>.
</p>

{% endif %} {% endblock %}
