{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}

<div id="messageContainer" class="message-container">
	{% for message in messages %}
	<div class="bubble {% if message.author == request.user %}msg-right{% else %}msg-left{% endif %}">
		<div class="msg-header">
			<span class="{% if message.author == request.user %}msg-author{% else %}msg-receiver{% endif %}">{{ message.author.first_name }}</span>
			<span class="material-symbols-outlined"> info </span>
		</div>
		<span class="msg-msg">{{ message.text }}</span>
		<span class="color-gray msg-time">{{ message.created_at|date:'H:i' }}</span>
	</div>

	{% endfor %}
</div>

<script>
	async function sendMessage() {
		let fd = new FormData();
		let token = "{{ csrf_token }}";
		let messageValue = messageField.value;

		fd.append("textmessage", messageValue);
		fd.append("csrfmiddlewaretoken", token);
		messageContainer.innerHTML += deleteMessageHTML(messageValue);

		try {
			let response = await fetch("/chat/", {
				method: "POST",
				body: fd,
			});

			let responseAsJson = await response.json();
			if (typeof responseAsJson === "string") {
				responseAsJsonParsed = JSON.parse(responseAsJson);
			}

			deleteMessage.remove();
			let createdAtFields = responseAsJsonParsed.fields.created_at;
			let createdAt = formatDateTime(responseAsJsonParsed.fields.created_at);
			messageContainer.innerHTML += showMessageHTML(createdAt, messageValue);
		} catch (e) {
			console.log("An error occurred", e);
			deleteMessage.remove();
			let createdAt = formatDateTime(new Date().toISOString());
			messageContainer.innerHTML += showErrorMessageHTML(createdAt, messageValue);
		}
		messageField.value = "";
	}

	function formatDateTime(isoString) {
		let date = new Date(isoString);
		{% comment %} let formattedDate = date.toISOString().split("T")[0]; {% endcomment %}
		let formattedTime = date.toTimeString().split(" ")[0].substring(0, 5);
		return `${formattedTime}`;
	}

	function deleteMessageHTML(messageValue) {
		return /*html*/ `
			<div id="deleteMessage">
				<span class="color-gray">[{{ message.created_at }}]</span>
				{{ request.user.first_name }}: <i class="color-gray">${messageValue}</i>
			</div>`;
	}

	function showMessageHTML(createdAt, messageValue) {
		return /*html*/ `
			<div id="showMessage">
				<span class="color-gray">[${createdAt}]</span>
				{{ request.user.first_name }}: <i>${messageValue}</i>
			</div>`;
	}

	function showErrorMessageHTML(createdAt, messageValue) {
		return /*html*/ `
			<div class="color-red">
				<span class="color-red">[${createdAt}]</span>
				{{ request.user.first_name }}: <i>${messageValue}</i>
			</div>`;
	}

	function scrollToElement(elementId) {
		var element = document.getElementById(elementId);
		if (element) {
			element.scrollIntoView();
		}
	}

	// Scrollt zum Ziel-Element, sobald das DOM vollständig geladen ist
	{% comment %} document.addEventListener('DOMContentLoaded', function() {
		scrollToElement('messageInput');
	}); {% endcomment %}

	document.addEventListener('DOMContentLoaded', function() {
		setTimeout(function() {
			scrollToElement('messageInput');
		}, 250);
	});
</script>

<form onsubmit="sendMessage(); return false;" method="post" id="messageInput">
	{% csrf_token %}
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="messageField" name="textmessage" />
		<label class="mdl-textfield__label" for="messageField">Text...</label>
	</div>

	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Send </button>
</form>

{% else %}
<h1>Not logged in</h1>
<p>
	You are currently not logged in. Please log in. <br />
	Please click <a href="/login/">here</a>.
</p>

{% endif %} {% endblock %}
