body {
	line-height: unset !important;
	font-size: 16px !important;
}

.page-content {
	background-color: #dddfe1;
	padding: 24px;
	min-height: 100vh;
}

.material-icons-outlined {
	margin: 0 !important;
	line-height: unset !important;
}

.c-pointer {
	cursor: pointer;
}

.c-pointer:hover {
	text-decoration: underline;
}

.pos-rel {
	position: relative;
}

.display-none {
	display: none !important;
}

.display-flex {
	display: flex !important;
}

.page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.color-gray {
	color: rgba(0, 0, 0, 0.4);
}

.color-red {
	color: red;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.register-text {
	padding-top: 32px;
	font-size: 18px;
}

.fs-18 {
	font-size: 18px;
}

.btns-bottom {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.message-container {
	max-height: calc(100% - 56px);
	overflow-y: auto;
	box-sizing: border-box;
}

.message-container::-webkit-scrollbar {
	display: none;
}

.bubble {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 300px;
	margin-bottom: 12px;
	padding: 4px 6px;
}

.msg-left {
	border-radius: 12px 12px 12px 0;
	margin-right: 24px;
}

.msg-right {
	border-radius: 12px 12px 0 12px;
	margin-left: 24px;
}

.msg-author {
	color: lightblue;
	font-size: 14px;
}

.msg-receiver {
	color: lightgreen;
	font-size: 14px;
}

.msg-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 4px;
}

.msg-bottom-check p:last-child {
	margin-left: -12px !important;
}

.msg-time {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.4);
	text-align: right;
}

.msg-icon {
	font-size: 18px;
}

.msg-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.msg-edit {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 18px;
}

.msg-edit p {
	cursor: pointer;
}

.message-edit-container {
	display: none;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.message-edit-container input {
	width: calc(100% - 20px - 2 * 8px);
	text-align: left;
	font-size: 16px;
}

.message-edit-container p {
	cursor: pointer;
}

.pw-requirements {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 32px;
}

.pw-requirements p {
	margin: unset;
	font-weight: bold;
}
