<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Chatroom application where users can communicate in real-time." />
        <meta name="keywords"
              content="chatroom, real-time chat, communication, messaging, online chat" />
        <title>Chatroom</title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet"
              href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
              rel="stylesheet" />
        {% load static %}
        <link rel="icon" type="image/x-icon" href={% static 'img/chat.png' %}>
        <link rel="stylesheet" href={% static 'css/style.css' %}>
        {% load django_material_icons %}
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script>
			function logout() {
				fetch("{% url 'logout' %}", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						"X-CSRFToken": "{{ csrf_token }}", // Wichtig: CSRF-Token hinzufügen
					},
					credentials: "same-origin",
				})
					.then((response) => {
						if (response.ok) {
							window.location.href = "/logout/"; // Umleiten zur Startseite oder einer anderen Seite nach dem Logout
						} else {
							console.error("Logout failed");
						}
					})
					.catch((error) => console.error("Error:", error));
			}
		
        </script>
    </head>
    <body onload="scrollToBottom()">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row header">
                    <span class="mdl-layout-title">
                        {% if request.user.is_authenticated %}
                            Welcome to the chatroom, {{ request.user.first_name }}!
                        {% else %}
                            Welcome! Please log in!
                        {% endif %}
                    </span>
                    <div class="header-logout">
                        {% if request.user.is_authenticated %}
                            {% csrf_token %}
                            <p class="c-pointer" onclick="logout()">Logout</p>
                        {% endif %}
                    </div>
                </div>
            </header>
            <main class="mdl-layout__content pos-rel">
                <div class="page-content" id="pageContent">
                    {% block content %}
                    {% endblock content %}
                </div>
            </main>
        </div>
    </body>
</html>
