{% extends "base.html" %}
{% block content %}
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}" />
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="text"
                   id="sample5"
                   name="username"
                   value="{{ username }}" />
            <label class="mdl-textfield__label" for="sample3">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="password"
                   id="sample6"
                   name="password"
                   value="{{ password }}" />
            <label class="mdl-textfield__label" for="sample3">Password</label>
        </div>
        <button id="loginButton"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Login
        </button>
    </form>
    <div class="register-text">
        Not registered yet? <a href="{% url 'register' %}"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Click here!</a>
    </div>
{% endblock content %}
