<style></style>
{% extends "base.html" %}
{% block content %}
    <div class="logout-wrapper">
        <div class="logout-container">
            <h1 class="logout-h1">You have been logged out</h1>
            <p class="logout-p">Would you like to log in again or register a new account?</p>
            <div class="btns-bottom">
                <a href="{% url 'login' %}?next=/chat/"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</a>
                <a href="{% url 'register' %}"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register</a>
            </div>
        </div>
    {% endblock content %}
</div>
